<%- include('./partials/header.ejs') %>



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Pets Album</h1>
                    <p class="lead text-muted">Pets are beautiful creatures that give us company and love us. There’s a saying. If you want someone to love you forever, buy a dog, feed it and keep it around.</p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Dogs</a>
                        <a href="#" class="btn btn-primary my-2">Cats</a>
                        <a href="#" class="btn btn-secondary my-2">Others</a>

                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <% pets.forEach(pet => { %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="<%= pet.image_link%>" alt="" srcset="" width="100%" height="300">

                                <div class="card-body">
                                    <p class="card-text">
                                        <%= pet.name%> has beautiful looks that you would not want to miss telling your friends about. It is
                                            <%=pet.age%> years old and has a tag price of
                                                <%=pet.price%> dollars.
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/pet/<%= pet.id %>" class="btn btn-sm btn-outline-secondary">View</a>
                                        </div>
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>


    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    </body>

    </html>