<%- include('./partials/header.ejs') %>

    <main>

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%= pet.image_link %>" alt="..."></div>
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bolder">
                            <%= pet.name %>
                        </h1>
                        <div class="fs-5 mb-5">
                            <p>ID.
                                <%= pet.id %>
                            </p>
                            <p>Age
                                <%= pet.age %>
                            </p>
                            <p>Rs.
                                <%= pet.price %>
                            </p>
                        </div>
                        <p class="lead">
                            <%=pet.pet_description%>
                        </p>
                        <div class="d-flex">

                            <a href="/pet/checkout/<%=pet.id%>" class="btn btn-outline-dark flex-shrink-0 <%if(pet.status!='available' ){ %> disabled <% } %>">
                                <%if(pet.status=='available' ){ %> Proceed to Adopt
                                    <% }else{ %> Not Available anymore
                                        <% } %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>


    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    </body>

    </html>